.container {
  box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 45px;
    padding: 10px 0;
    justify-content: flex-end;
    max-width: 420px;
    overflow: hidden;
    & span {
      overflow-x: scroll;
      text-align: end;
      width: 100%;
      &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
    }

}
