.container {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 45px;
    padding: 10px 0;
    justify-content: flex-end;
    max-width: 420px;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
      }
     
}