.App {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    width: min-content;
    background-color: #48494A;
    border-radius: 20px;
    font-family: 'IBM Plex sans';
}